<section id="main__content">
    <div class="action-header-alt">
        <div class="action-header__item action-header__item--search hide">
            <form>
                <input type="text" placeholder="Search for contacts...">
            </form>
        </div>

        <div class="action-header__item action-header__add">
            <a routerLink="/course-add" routerLinkActive="active" class="btn btn-danger btn-sm">Add New Course</a>
        </div>
    </div>

    <div class="main__container">
        <header class="main__title" style="padding:0px;">
            <h2>Courses List: </h2>
        </header>

        <div class="row">
            <div class="col-md-12">
                <div class="list-group list-group--block contact-lists">
                    <div class="list-group__header text-left">
                        {{ coursesArray.length }} Total Courses
                    </div>
                    <div *ngFor="let course of coursesArray; let i = index" class="list-group__wrap">
                        <a class="list-group-item media" href="<?=DASH_URL?>/courses-list">
                            <div class="media-body list-group__text">
                                <h4>{{ course.master_category_id ? course.master_category_id : 'N/A' }}</h4>
                                <div class="list-group__attrs">
                                    <div><b>Category&nbsp;:</b>&nbsp;{{ course.child_category_id ? course.child_category_id : 'N/A' }}</div>
                                    <div><b>Price:</b>&nbsp;{{ course.price ? course.price : 'N/A' }}</div>
                                    <div><b>Duration (In Weeks):</b>&nbsp;{{ course.duration ? course.duration : 'N/A' }}</div>
                                    <div><b>Batch Size:</b>&nbsp;{{ course.avg_no_student ? course.avg_no_student : 'N/A' }}</div>
                                </div>
                            </div>
                        </a>
                        <div class="actions list-group__actions">
                            <div class="dropdown">
                                <a href="<?=DASH_URL?>/courses-list" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>
                                
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="<?=DASH_URL?>/courses?type=edit&id=<?=base64_encode($value['id'])?>">Edit</a></li>
                                    <li><a href="<?=DASH_URL?>/courses-list" id="<?=base64_encode($value['id'])?>####<?=ucfirst($value['cname'])?>" data-demo-action="delete-listing">Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="load-more" *ngIf="coursesArray.length == 0"><a href="#"> No Record Found!</a></div>
                </div>
            </div>
        </div>
    </div>
</section>