<header id="header-alt" *ngIf="!tokenVerifyNav">
  	<a routerLink="/login" routerLinkActive="active" class="header-alt__logo hidden-xs">Dashboard</a>
</header>
<header id="header-alt" *ngIf="tokenVerifyNav">
    <a href="<?=DASH_URL?>" class="header-alt__trigger hidden-lg" data-rmd-action="block-open" data-rmd-target="#main__sidebar">
        <i class="zmdi zmdi-menu"></i>
    </a>

    <a href="<?=DASH_URL?>" class="header-alt__logo hidden-xs">Dashboard</a>

    <ul class="header-alt__menu">
        <li class="header-alt__profile dropdown">
            <a href="#" data-toggle="dropdown">
                <i class="zmdi zmdi-settings"></i>
            </a>

            <ul class="dropdown-menu pull-right">
                <li><a routerLink="/changepassword" routerLinkActive="active">Change Password</a></li>
                <li><a routerLink="/logout" routerLinkActive="active">Logout</a></li>
            </ul>
        </li>
    </ul>
</header>
<main id="main">