<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <title>Ecoaching Frontend</title>
</div>

<div [ngClass] = "{'stringClass': true }"> {{ charString }} </div>

<textarea [ngClass] = "{'textClass': true }">{{ totalValue }}</textarea><br /><br />

<span *ngFor="let number of numberArray;">
    <button [ngClass]="{'numberClass': true }" [style.top]="MathF.floor(number/3)*50" (click)="numberClick(number)" id="{{ number }}" >{{ number }}</button><br *ngIf="number%3 == 0 && number > 1"/>
</span>

<span *ngFor="let operation of operationArray;">
    <button [ngClass]="{'operationClass': true }" (click)="operationClick(operation)" id="{{ operation.value }}" >{{ operation.sign }}</button>
</span>

<button [ngClass] = "{'equalClass': true }" (click)="equalClick()" id="equal" >=</button>

