<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
    <title>Ecoaching Frontend</title>
</div>

<div>{{ apiTesting }}</div><br /><br />

<nav>
    <a routerLink="/login" routerLinkActive="active">Login</a><br /><br />
    <a routerLink="/calculator" routerLinkActive="active">Calculator</a><br /><br />
    <a routerLink="/bloglist" routerLinkActive="active">Blog List</a><br /><br />
</nav>


<br /><br /><br /><br />
<router-outlet></router-outlet>-->


<app-header [tokenVerifyNav]="tokenVerify"></app-header>
<app-navbar [tokenVerifyNav]="tokenVerify"></app-navbar>
<router-outlet (activate)="changeOfRoutes()"></router-outlet>
<app-footer [tokenVerifyNav]="tokenVerify"></app-footer>