<section id="main__content">
    <div class="main__container" [hidden]="submitted">
        <header class="main__title text-center">
            <h2>Login</h2>
            <small>Dashboard for Admin of Coaching Institute</small>
        </header>
        <div class="card hidden-print" style="padding:30px;">
            <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
                <div class="form-group">
                    <input name="email" id="email" [(ngModel)]="modelLogin.email" class="form-control" placeholder="Email Address" type="text">
                    <i class="form-group__bar"></i>
                </div>

                <div class="form-group">
                    <input name="password" id="password" [(ngModel)]="modelLogin.password" class="form-control" placeholder="Password" type="password">
                    <i class="form-group__bar"></i>
                </div>
                <button type="submit" class="btn btn-primary btn-block m-t-10 m-b-10 submitBtn">Login</button>

                <div class="text-center">
                    <a routerLink="/resetpassword" routerLinkActive="active"><small>Forgot Password?</small></a>
                </div>
            </form>
        </div>
    </div>
</section>