
<footer id="footer-alt" *ngIf="!tokenVerifyNav">
	Copyright © Ecoaching.guru
</footer>
<footer id="footer-alt" *ngIf="tokenVerifyNav"> 
    Copyright © Ecoaching.guru

    <ul class="footer-alt__menu">
        <li><a href="http://bootstrapsale.com/projects/roost/v1-1/dashboard/contacts.html">Home</a></li>
        <li><a href="http://bootstrapsale.com/projects/roost/v1-1/dashboard/contacts.html">Dashboard</a></li>
        <li><a href="http://bootstrapsale.com/projects/roost/v1-1/dashboard/contacts.html">Reports</a></li>
        <li><a href="http://bootstrapsale.com/projects/roost/v1-1/dashboard/contacts.html">Support</a></li>
        <li><a href="http://bootstrapsale.com/projects/roost/v1-1/dashboard/contacts.html">Contact</a></li>
    </ul>
</footer>